.actions {
    position: fixed;
    bottom: 8px;
    left: 8px;
    color: var(--accent);
}

/* ================================================================================================ */

.actions:hover {
    opacity: 1;

    /* .actions__btn {
            opacity: 1;
        }

        .actions__menu {
            opacity: 1;
            visibility: visible;
        } */
}

/* ================================================================================================ */

.actions__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.3;

    /* svg {
            width: 20px;

            path {
                fill: var(--bg);
            }
        } */
}

/* ================================================================================================ */

.actions__menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    padding-bottom: 8px;
}

/* ================================================================================================ */

.actions__action {
    white-space: nowrap;
    background-color: var(--bg);
    cursor: pointer;
    font-size: 15px;
    padding: 2px 5px;

    /* &:hover {
            background-color: var(--accent);
            color: var(--bg);
        }

        @media (max-width: #{initial.$md2}px) {
            padding: 10px 15px;
        } */
}

/* ================================================================================================ */

.importer {
    display: none;
}
