.day-block__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: all 0.3s;
    max-height: 84vh;
    overflow: hidden;
}

.day-block {
    background-color: #181818;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 7px;
}

.day-block__info {
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.3;
    color: white;
}

.day-block__percent {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    opacity: 0.5;
}

.day-block__date {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.day-block__date span:nth-child(1) {
    font-size: 28px;
    text-shadow: 0 0 2px var(--accent);
}

.day-block__date span:nth-child(2) {
    font-size: 16px;
    opacity: 0.5;
}

.day-block__row {
    margin-bottom: 20px;
}

.day-block__temp {
    font-size: 14px;
    /* color: red; */
    font-style: italic;
    opacity: 0.5;
}

.day-block__event {
    background-color: var(--bg);
    padding: 10px;
    border-radius: 7px;
}

.day-block__event-row,
.day-block__occurrence-row {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.day-block__msg {
    font-style: italic;
    font-size: 14px;
    opacity: 0.5;
}

.day-block__occurrence {
    background-color: var(--bg);
    padding: 10px;
    border-radius: 7px;
}

.day-block__events,
.day-block__occurrences {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.day-block__occurrence-category,
.day-block__event-time {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-style: italic;
    font-size: 14px;
}

.day-block__occurrence-category span:nth-child(1),
.day-block__event-time span:nth-child(1) {
    opacity: 0.3;
    color: white;
}

.day-block__occurrence-category span:nth-child(2),
.day-block__event-time span:nth-child(2) {
    opacity: 0.6;
}

.day-block__events-title,
.day-block__occurrences-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.day-block__events-title span,
.day-block__occurrences-title span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    color: var(--bg);
    height: 20px;
    width: 20px;
    font-size: 14px;
    border-radius: 50%;
}

.day-block__occurrence-description span,
.day-block__event-description span {
    font-size: 14px;
    /* // max-height: 90px; */
    max-height: 55px;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* // -webkit-line-clamp: 5; */
    -webkit-line-clamp: 3;
    font-style: italic;
}

.day-block__event-description {
    margin-top: 4px;
}

.day-block__occurrence-description {
    /* background-color: red; */
}

.day-block__occurrence-description span span:nth-child(1),
.day-block__event-description span span:nth-child(1) {
    color: white;
    opacity: 0.3;
    font-size: 14px;
}

.day-block__occurrence-description span span:nth-child(2),
.day-block__event-description span span:nth-child(2) {
    opacity: 0.6;
    font-size: 14px;
    opacity: 0.6;
}

.day-block__occurrence-description span > span,
.day-block__event-description span > span {
    opacity: 0.5;
    font-size: 16px;
    display: inline;
    margin-left: 0;
    margin-right: 7px;
}
